<html>
    <head>
        <meta charset="utf-8">
        <title>Spotify - Teste</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>  
        <div class="jumbotron painel">
            <h1 class="title">Spotify - Teste</h1>
        </div>
        {{{body}}}

        <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>